In [1]:
# Import Libraries and dataset
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
Company=pd.read_csv("Company_Data.csv")
Company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [3]:
Company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [4]:
Company.iloc[:, 6] =LabelEncoder().fit_transform(Company['ShelveLoc'])
Company.iloc[:, 6]

C:\Users\pirfa\AppData\Local\Temp\ipykernel_17840\1720684282.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  Company.iloc[:, 6] =LabelEncoder().fit_transform(Company['ShelveLoc'])

0      0
1      1
2      2
3      2
4      0
      ..
395    1
396    2
397    2
398    0
399    1
Name: ShelveLoc, Length: 400, dtype: int32

In [5]:
Company.iloc[:, 9] =LabelEncoder().fit_transform(Company['Urban'])
Company.iloc[:, 9]

C:\Users\pirfa\AppData\Local\Temp\ipykernel_17840\1738453694.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  Company.iloc[:, 9] =LabelEncoder().fit_transform(Company['Urban'])

0      1
1      1
2      1
3      1
4      1
      ..
395    1
396    0
397    1
398    1
399    1
Name: Urban, Length: 400, dtype: int32

In [6]:
Company.iloc[:, -1] =LabelEncoder().fit_transform(Company['US'])
Company.iloc[:, -1]

C:\Users\pirfa\AppData\Local\Temp\ipykernel_17840\4174194988.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  Company.iloc[:, -1] =LabelEncoder().fit_transform(Company['US'])

0      1
1      1
2      1
3      1
4      0
      ..
395    1
396    1
397    1
398    1
399    1
Name: US, Length: 400, dtype: int32

In [7]:
Company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,1,33,14,1,1
396,6.14,139,23,3,37,120,2,55,11,0,1
397,7.41,162,26,12,368,159,2,40,18,1,1
398,5.94,100,79,7,284,95,0,50,12,1,1
399,9.71,134,37,0,27,120,1,49,16,1,1

In [8]:
# Separate features and target variable
X = Company.iloc[:,0:10]
Y = LabelEncoder().fit_transform(Company['US'])

In [9]:
# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=100)

# Random Forest

In [10]:
# Create a Random Forest classifier
model = RandomForestClassifier(n_estimators=300,max_depth=40, random_state=True)

In [11]:
# Train the model
model.fit(x_train, y_train)

RandomForestClassifier(max_depth=40, n_estimators=300, random_state=True)

In [12]:
# Make predictions on the test set
y_pred = model.predict(x_test)

In [13]:
# Evaluate the model's performance

from sklearn.metrics import accuracy_score
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.9416666666666667

In [14]:
# pred_test=model.predict(x_test)

In [15]:
# df_t=pd.DataFrame({'Actual':y_test, 'Predicted':pred_test})
# df_t

In [16]:
model.feature_importances_

array([0.09611449, 0.05385578, 0.05487707, 0.54639776, 0.0742758 ,
       0.05894119, 0.01133631, 0.06572252, 0.03093395, 0.00754516])

# K-Fold

In [17]:
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier

In [18]:
# Define the k-fold cross-validation object
kf = KFold(n_splits=5, shuffle=True, random_state=42)

In [19]:
# Initialize empty lists to store accuracies and mean impurity decreases
accuracies = []
mean_impurity_decreases = []

In [20]:
# Iterate over each fold
for train_index, test_index in kf.split(X):
    # Split the data into training and testing sets
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    Y_train, Y_test = Y[train_index], Y[test_index]

In [21]:
 # Train the decision tree model
modelk = DecisionTreeClassifier()
modelk.fit(X_train, Y_train)

DecisionTreeClassifier()

In [22]:
# Get the mean impurity decrease for each feature
mean_impurity_decrease = modelk.feature_importances_

In [23]:
# Make predictions on the test set
y_pred = modelk.predict(X_test)

In [24]:
# Calculate the accuracy
accuracy = (y_pred == Y_test).mean()

In [25]:
 # Store the accuracy and mean impurity decrease for this fold
accuracies.append(accuracy)
mean_impurity_decreases.append(mean_impurity_decrease)

In [26]:
# Calculate the average accuracy and mean impurity decrease across folds
average_accuracy = sum(accuracies) / len(accuracies)
average_mean_impurity_decrease = sum(mean_impurity_decreases) / len(mean_impurity_decreases)

In [27]:
# Print the results
print("Average accuracy:", average_accuracy)
# print("Average mean impurity decrease:", average_mean_impurity_decrease)
# print("Feature importances:", model.feature_importances_)

Average accuracy: 0.8875

# Conclusion

In [28]:
#Random Forest
fi = pd.DataFrame({'feature': list(x_train.columns),
                   'importance': model.feature_importances_}).\
                    sort_values('importance', ascending = False)
fi

       feature  importance
3  Advertising    0.546398
0        Sales    0.096114
4   Population    0.074276
7          Age    0.065723
5        Price    0.058941
2       Income    0.054877
1    CompPrice    0.053856
8    Education    0.030934
6    ShelveLoc    0.011336
9        Urban    0.007545

In [29]:
#K-fold
fi = pd.DataFrame({'feature': list(X_train.columns),
                   'importance': modelk.feature_importances_}).\
                    sort_values('importance', ascending = False)
fi

       feature  importance
3  Advertising    0.667932
2       Income    0.057938
7          Age    0.054223
0        Sales    0.052752
4   Population    0.046360
1    CompPrice    0.045602
8    Education    0.032777
6    ShelveLoc    0.022348
5        Price    0.010034
9        Urban    0.010034

In [30]:
# The Advertising is most important Feature for a Company in both Random Forest & K-Fold