In [1]:
# Import Libraries and dataset
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
Fraud=pd.read_csv("Fraud_check.csv")
Fraud

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [3]:
Fraud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Undergrad        600 non-null    object
 1   Marital.Status   600 non-null    object
 2   Taxable.Income   600 non-null    int64
 3   City.Population  600 non-null    int64
 4   Work.Experience  600 non-null    int64
 5   Urban            600 non-null    object
dtypes: int64(3), object(3)
memory usage: 28.3+ KB

In [4]:
Fraud.iloc[:, 0] =LabelEncoder().fit_transform(Fraud['Undergrad'])
Fraud.iloc[:,0]

C:\Users\pirfa\AppData\Local\Temp\ipykernel_22944\2165782260.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  Fraud.iloc[:, 0] =LabelEncoder().fit_transform(Fraud['Undergrad'])

0      0
1      1
2      0
3      1
4      0
      ..
595    1
596    1
597    0
598    1
599    0
Name: Undergrad, Length: 600, dtype: int32

In [5]:
Fraud.iloc[:, 1] =LabelEncoder().fit_transform(Fraud['Marital.Status'])
Fraud.iloc[:,1]

C:\Users\pirfa\AppData\Local\Temp\ipykernel_22944\1494285234.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  Fraud.iloc[:, 1] =LabelEncoder().fit_transform(Fraud['Marital.Status'])

0      2
1      0
2      1
3      2
4      1
      ..
595    0
596    0
597    0
598    1
599    0
Name: Marital.Status, Length: 600, dtype: int32

In [6]:
Fraud.iloc[:, 5] =LabelEncoder().fit_transform(Fraud['Urban'])
Fraud.iloc[:,5]

C:\Users\pirfa\AppData\Local\Temp\ipykernel_22944\777465848.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  Fraud.iloc[:, 5] =LabelEncoder().fit_transform(Fraud['Urban'])

0      1
1      1
2      1
3      1
4      0
      ..
595    1
596    1
597    1
598    0
599    0
Name: Urban, Length: 600, dtype: int32

In [7]:
Fraud

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,0,2,68833,50047,10,1
1,1,0,33700,134075,18,1
2,0,1,36925,160205,30,1
3,1,2,50190,193264,15,1
4,0,1,81002,27533,28,0
...,...,...,...,...,...,...
595,1,0,76340,39492,7,1
596,1,0,69967,55369,2,1
597,0,0,47334,154058,0,1
598,1,1,98592,180083,17,0
599,0,0,96519,158137,16,0

In [8]:
# Separate features and target variable
X=Fraud.iloc[:,0:5]
Y=LabelEncoder().fit_transform(Fraud['Urban'])

In [9]:
# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=6)

# Random Forest

In [10]:
# Create a Random Forest classifier
model = RandomForestClassifier(n_estimators=300,max_depth=40, random_state=True)

In [11]:
# Train the model
model.fit(x_train, y_train)

RandomForestClassifier(max_depth=40, n_estimators=300, random_state=True)

In [12]:
# Make predictions on the test set
y_pred = model.predict(x_test)

In [13]:
# Evaluate the model's performance

from sklearn.metrics import accuracy_score
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.5777777777777777

In [14]:
model.feature_importances_

array([0.03646178, 0.06627549, 0.34905583, 0.30793917, 0.24026774])

# K-Fold

In [15]:
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier

In [16]:
# Define the k-fold cross-validation object
kf = KFold(n_splits=5, shuffle=True, random_state=42)

In [17]:
# Initialize empty lists to store accuracies and mean impurity decreases
accuracies = []
mean_impurity_decreases = []

In [18]:
# Iterate over each fold
for train_index, test_index in kf.split(X):
    # Split the data into training and testing sets
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    Y_train, Y_test = Y[train_index], Y[test_index]

In [19]:
 # Train the decision tree model
modelk = DecisionTreeClassifier()
modelk.fit(X_train, Y_train)

DecisionTreeClassifier()

In [20]:
# Get the mean impurity decrease for each feature
mean_impurity_decrease = modelk.feature_importances_

In [21]:
# Make predictions on the test set
y_pred = modelk.predict(X_test)

In [22]:
# Calculate the accuracy
accuracy = (y_pred == Y_test).mean()

In [23]:
 # Store the accuracy and mean impurity decrease for this fold
accuracies.append(accuracy)
mean_impurity_decreases.append(mean_impurity_decrease)

In [24]:
# Calculate the average accuracy and mean impurity decrease across folds
average_accuracy = sum(accuracies) / len(accuracies)
average_mean_impurity_decrease = sum(mean_impurity_decreases) / len(mean_impurity_decreases)

In [25]:
# Print the results
print("Average accuracy:", average_accuracy)
# print("Average mean impurity decrease:", average_mean_impurity_decrease)
# print("Feature importances:", model.feature_importances_)

Average accuracy: 0.49166666666666664

# Conclusion

In [26]:
#Random forest
fi = pd.DataFrame({'feature': list(x_train.columns),
                   'importance': model.feature_importances_}).\
                    sort_values('importance', ascending = False)
fi

           feature  importance
2   Taxable.Income    0.349056
3  City.Population    0.307939
4  Work.Experience    0.240268
1   Marital.Status    0.066275
0        Undergrad    0.036462

In [27]:
#K-fold
fi = pd.DataFrame({'feature': list(X_train.columns),
                   'importance': modelk.feature_importances_}).\
                    sort_values('importance', ascending = False)
fi

           feature  importance
2   Taxable.Income    0.361499
3  City.Population    0.284755
4  Work.Experience    0.238017
1   Marital.Status    0.070527
0        Undergrad    0.045201

In [28]:
# The TaxableIncome is most important Feature in both Random Forest & K-Fold