In [1]:
# Q3

In [2]:
# Applying Chi-Square test as there are categorical variables to test
# Default Significane 5% i.e alpha = 0.05

# Hypothesis testing statements
# H0 = Male-Female proportions are similar
# H1 = Male-Female proportions are not similar

In [3]:
import pandas as pd
import scipy as sc

In [4]:
BuyerRatio = pd.read_csv('BuyerRatio.csv')
BuyerRatio.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [5]:
#chi-square test
statistic,pvalue,dof,expected_freq = sc.stats.chi2_contingency([BuyerRatio["East"], BuyerRatio["West"], BuyerRatio["North"], BuyerRatio["South"]])
print(statistic,pvalue,dof,expected_freq)

1.5959455386610577 0.6603094907091882 3 [[  42.76531299  442.23468701]
 [ 146.81287862 1518.18712138]
 [ 131.11756787 1355.88243213]
 [  72.30424052  747.69575948]]

In [6]:
alpha = 0.05
H0 = "Male-Female proportions are similar"
H1 = "Male-Female proportions are not similar"

In [7]:
if pvalue <= alpha:
    print( 'we reject null hypothesis & ',H1)
else:
    print('we accept null hypothesis &',H0)

we accept null hypothesis & Male-Female proportions are similar